<%- include('partials/header.ejs') %>
<div class="container">
    <div id="title-container" class="text-center">
        <h1><%= listTitle %></h1>
    </div>
    <div id="tasks-container">
        <table id="tasks-table" class="table">
            <tbody>
                <% tasks.forEach(function(task) { %>
                    <form action="/delete" method="post">
                        <tr>
                            <td class="list-item">
                                <input class="form-check-input flex-shrink-0" type="checkbox" name="checkbox" value="<%= task.id %>" onchange="toggleStrikethrough(this); this.form.submit()">
                                <span class="pt-1 form-checked-content task-content">
                                    <strong><%= task.name %></strong>
                                </span>
                            </td>
                        </tr>
                        <input type="hidden" name="listName" value="<%= listTitle %>">
                    </form>
                <% }); %>
            </tbody>
        </table>
        <form id="new-task-form" class="mb-3" action="/addTask" method="post">
            <div class="input-group">
                <input type="text" id="new-task-name" name="newTask" class="form-control" placeholder="New task" required>
                <button type="submit" name ="list" value="<%= listTitle %>" class="btn btn-primary btn-circle">+</button>
            </div>
        </form>
    </div>
</div>
<%- include('partials/footer.ejs') %>

